@page
@model Conflictus.Pages.Upload.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Battle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Battle.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Battle.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Battle.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Battle.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Battle.Summary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Battle.Summary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Battle.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Battle.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Battle.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Battle.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Battle.Outcome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Battle.Outcome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Battle.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Battle.Url)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Battle.War)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Battle.War.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Battle.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
